<div>
    <div class="row justify-content-center">
        <h4 class="mt-5">LO MAS VISTO</h4>
    </div>
    <div class="row justify-content-center"><div class="row mt-5 ">
        <div class="col-md d-flex">
            <div class="card mr-2" style="width: 18rem;">
                <img class="card-img-top imgVikingsGallery" src="./../../assets/herreria/espada1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-2" style="width: 18rem;">
                <img class="card-img-top imgVikingsGallery" src="./../../assets/herreria/hacha1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-2" style="width: 18rem;">
                <img class="card-img-top imgVikingsGallery" src="./../../assets/herreria/herreria1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-2" style="width: 18rem;">
                <img class="card-img-top imgVikingsGallery" src="./../../assets/herreria/madera1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mr-2" style="width: 18rem;">
                <img class="card-img-top imgVikingsGallery" src="./../../assets/herreria/katana1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    
    </div>
    </div>
</div>