
<!--HEADER-->
<div class="row">  
  <div class="col-sm d-flex">
    <div class="col-sm">
      <button mat-button class="primaryButtonMenu" (click)="showListSword = !showListSword">KATTEGAT MARTKET</button>
    </div>
    <div class="col-sm">
      <button mat-button class="primaryButtonMenu" (click)="showListSword = !showListSword">FRIKI MARTKET</button>
    </div>
  </div>
  <div class="col-sm">
    <h1>WELCOME TO VIKINGS</h1>
    <span *ngIf="showListSword">
      <div class="row mb-4">
        <div *ngFor="let sword of swordTypes">
          <div class="col-sm" style="padding:0.25rem;">
            <button mat-button class="secondaryButtonMenu">{{sword.value}}</button>
          </div>
        </div>
      </div>
    </span>
  </div>
  <div class="col-sm d-flex justify-content-end">
    <div>
      <button mat-button class="secondaryButtonMenu">Información</button>
    </div>
  </div>
</div>

<!--CONTENT-->
<div class="row d-flex justify-content-center">
      <h4>THE WORLD WHERE YOU ARE LIKE YOU WANT</h4>
      <div>
        <img class="widthGeneral" src="./../assets/Vikings/FondoVikings.jpg" />
      </div>
</div>

<!--FOOTER-->
<div class="row d-flex justify-content-center">
    <h4 class="mt-5">LO MAS VISTO</h4>
    <vikings-gallery class="widthGeneral"></vikings-gallery>
</div>

<div class="row mt-5 d-flex">
  <div class="col-sm justify-content-start">
      <span>Herreria artesanal, todo realizado a mano y personalizado.</span> <br>
      <span>Visita nuestra tienda o mira nuestro catalogos online.</span><br>
      <span>Tour en taller para lo mas curiosos con un pequeño obsequio.</span><br>
  </div>
  <div class="col-sm d-flex justify-content-end">
    <div>
        <span>Dirección:</span> <br>
        <span>Sangonera la Verde</span> <br>
        <span>C/: Los quicos Nº: 31.</span><br>
        <span>CP: 30833.</span> &nbsp; <span>Murcia</span><br>
    </div>
  </div>      
</div>
